{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url('../../static/images/felix-fuchs-9Z2-hIOO0sk-unsplash.jpg');
        background-position: inherit;
        height: 100vh;
        background-size: cover;
        margin: 0;
        padding-top: 100px;
    }
</style>

<div class="container-fluid">
    <section class="bg-transparent text-light text-center shadow">
        <div class="container p-5">
            <div class="row">
                <div class="d-md-flex bg-transparent align-items-center justify-content-evenly">
                    <h1 class="col text-center"><br>DrEaM CaRs</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-transparent text-center">
        <div class="container p-5">
            <div class="row">
                <div class="d-flex align-items-center justify-content-center text-light">
                    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nobis 
                        id accusantium sunt omnis accusamus animi nesciunt sapiente, voluptas exercitationem 
                        aspernatur non illo in harum. A omnis adipisci provident excepturi?
                    </span>    
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}